{% load static %}
<footer class="footer background-dark">
    <div class="overlay overlay--pattern">
        <img src="{% static 'img/diagonal-line-pattern.png' %}" alt="overlay" class="background-image-holder">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="footer-about">s
                    <ul class="contact-info">
                        <li><i class="ft ft-phone-call"></i>
                            <a href="tell:">
                                <p>+998 99 001 58 51</p>
                            </a>
                        </li>
                        <li><i class="ft ft-mail"></i>
                            <a href="mailto:">
                                <p>sanjarmuslim222@gmail.com</p>
                            </a>
                        </li>
                        <li><i class="ft ft-map-pin"></i>
                            <p>44/47 Besharik Street, Yashnabad District, Tashkent City</p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-12">

                <div class="footer-newsfeed ">
                    <h6 class="footer__title">Blog Posts</h6>
                    <div class="scrollbar-outer">
                        <ul class="inner-content scrollbar-dynamic">
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Best 10 effective Portfolio site for
                                    freelancer</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">See the world through the design</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Top ten article for beginner who
                                    want to learn ui design</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Top ten article for beginner who
                                    want to learn ui design</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Best 10 effective Portfolio site for
                                    freelancer</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">See the world through the design</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Top ten article for beginner who
                                    want to learn ui design</a>
                            </li>
                            <li>
                                <div class="footer-newsfeed-meta">
                                    <span class="footer-newsfeed__date">20 Oct. 2018</span>

                                    <div class="footer-newsfeed__category">
                                        <a href="#">BRANDING</a>
                                        <a href="#">TREND</a>
                                    </div>
                                </div>
                                <a class="footer-newsfeed__title" href="#">Top ten article for beginner who
                                    want to learn ui design</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="footer-newsletter">
                    <h6 class="footer__title">NEWSLETTER</h6>
                    <p class="footer-newsletter__description">Thanks for signing up to keep in touch with Arthor. From
                        now, you'll get regular updates, special offer and many more from Arthor.</p>
                    <form action="#">
                        <div class="footer-newsletter-form">
                            <div class="form-group">
                                <input type="email" class="" id="email" placeholder="Your Email Address">
                            </div>
                            <button type="submit" class="btn btn--primary">Send</button>
                        </div>
                    </form>

                    <ul class="social-connet">
                        <li><a href="#"><i class="ft ft-twitter"></i></a></li>
                        <li><a href="#"><i class="ft ft-linkedin"></i></a></li>
                        <li><a href="#"><i class="ft ft-instagram"></i></a></li>
                        <li><a href="#"><i class="ft ft-instagram"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>