{% load static %}
<section class="position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cta background-dark">
                            <div class="cta-inner overlay--pattern">
                                <img src="{% static 'img/diagonal-line-pattern.png' %}" alt="overlay"
                                     class="background-image-holder">
                                <h6>Have any Project in Mind ? <a href="mailto:">JUST SAY HELLO</a></h6>
                                <a href="#" class="btn btn--primary btn--lg btn--megaEffect">
                                    Hire Me
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>