{% load static %}
<section class="home-slider p-0" id="hero">
    <div class="swiper-container">
        <img class="background-image-holder" src="{% static 'img/my-photo2.jpg' %}" alt="background">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner" data-swiper-parallax="45%">
                    <div class="overlay">
                        <img class="background-image-holder" src="{% static 'img/overlay.png' %}" alt="overlay">
                    </div>
                    <div class="slide-inner--image">
                        <img class="background-image-holder" src="{% static 'img/my-photo2.jpg' %}" alt="background">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slide-inner--info">
                                    <div class="slide-inner__top"><span></span>Hello</div>
                                    <h1>I’m <span>Sanjarbek</span> Tursunov <br> passionate with coding</h1>
                                    <p>Passionate about Coding, mostly about App and Websites focused on
                                        backend with python (AI/WEB).</p>
                                    <div>
                                        <a class="btn btn--primary btn--megaEffect" href="#"> See Works</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner" data-swiper-parallax="45%">
                    <div class="overlay">
                        <img class="background-image-holder" src="{% static 'img/overlay.png' %}" alt="overlay">
                    </div>
                    <div class="slide-inner--image">
                        <img class="background-image-holder" src="{% static 'img/my-photo.jpg' %}" alt="background">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slide-inner--info">
                                    <div class="slide-inner__top"><span></span>Hello</div>
                                    <h1>I’m <span>Sanjarbek</span> Tursunov <br> passionate with AI</h1>
                                    <p>Passionate about Coding AI machines but mostly about App and Website focused on
                                        coding with AI</p>
                                    <div>
                                        <a class="btn btn--primary btn--megaEffect" href="#"> See Works </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner" data-swiper-parallax="45%">
                    <div class="overlay">
                        <img class="background-image-holder" src="{% static 'img/overlay.png' %}" alt="overlay">
                    </div>
                    <div class="slide-inner--image">
                        <img class="background-image-holder" src="{% static 'img/my-photo.jpg' %}" alt="background">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slide-inner--info">
                                    <div class="slide-inner__top"><span></span>Hello</div>
                                    <h1>I’m <span>Sanjarbek</span> Tursunov <br> passionate with wood</h1>
                                    <p>Passionate about making strange things from wood  but mostly about door and window for home. (Carpentry)</p>
                                    <div>
                                        <a class="btn btn--primary btn--megaEffect" href="#">See Works </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="expanded-timeline">
            <div class="expanded-timeline__counter">
                <span></span>/<span></span>
            </div>
        </div>
    </div>
    <div class="quick-contact">
        <span class="quick-contact__text">Contact</span>
        <a class="quick-contact__link" href="mailto:"><i class="ft ft-mail"></i></a>
    </div>
</section>
