{% load static %}
<div class="pre-laoder">
    <img src="{% static 'img/diagonal-line-pattern.png' %}" alt="overlay" class="background-image-holder">
    <div id="lineDrawing">
        <div class="demo-content align-center">
            <svg class="svg-sahpe">
                <g fill="none" fill-rule="evenodd" stroke="#fbc25e" stroke-width="1" class="lines">
                    <path d="
                        M54.2,1.9L102.8,86c1.1,1.8-0.3,4.1-2.4,4.1H75.2c-1,0-1.9-0.5-2.4-1.4L51.8,52.3c-1.1-1.8-3.7-1.8-4.8,0
                        l-6.2,10.8c-0.5,0.9-0.5,1.9,0,2.8L52.6,86c1.1,1.8-0.3,4.1-2.4,4.1H3.3c-2.1,0-3.4-2.3-2.4-4.1L49.5,1.9C50.5,0,53.2,0,54.2,1.9z
                        M50.5,41.3l24.9,43.1c0.5,0.9,1.4,1.4,2.4,1.4h15.1c2.1,0,3.4-2.3,2.4-4.1l-41-71.1c-1.1-1.8-3.7-1.8-4.8,0l-41,71.1
                        c-1.1,1.8,0.3,4.1,2.4,4.1h31.8c2.1,0,3.4-2.3,2.4-4.1l-9.6-16.5c-0.2-0.4-0.2-0.9,0-1.3l12.8-22.5C48.7,40.5,50,40.5,50.5,41.3z"
                          stroke-dasharray="406.8699035644531" style="stroke-dashoffset: 0px; "></path>
                </g>
            </svg>
        </div>
    </div>

</div>
