{% load static %}
<section class="skills background-dark" data-scrollax-parent="true" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                            <span class="title-overlay" data-scrollax="properties: { translateY: '-100px' }">
                                My Skills
                            </span>
                    <h3 class="section-title__main">My Expertise Areas</h3>
                    <p class="section-title__description">Over 10 Years Expericences i am work with business &
                        provide solution to client with their business problem</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-container">
                    <ul class="tabs">
                        <li>
                            <button data-animate="progress"><i class="ft ft-image"></i>UI UX DESIGN</button>
                        </li>

                        <li>
                            <button data-animate="progress"><i class="ft ft-airplay"></i>WEB DEVELOPMENT</button>
                        </li>

                        <li>
                            <button data-animate="progress"><i class="ft ft-server"></i>LANGUAGE SKILLS</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tabs-item tabs-item--active">
                            <div class="skill">
                                <span class="skill__name">Adobe Photoshop</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width:95%;">
                                        <span class="skill__value">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <span class="skill__name">Adobe Illustrator</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%;">
                                        <span class="skill__value">85%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <span class="skill__name">Adobe After Effect</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width:75%">
                                        <span class="skill__value">75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="skill">
                                        <span class="skill__name">HTML/CSS
                                        </span>
                                <div class="progress">
                                    <div class="progress-bar" style="width:90%">
                                        <span class="skill__value">90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <span class="skill__name">Javascript</span>
                                <div class="progress">
                                    <div class="progress-bar reveal" style="width:80%">
                                        <span class="skill__value">80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                        <span class="skill__name">WordPress
                                        </span>
                                <div class="progress">
                                    <div class="progress-bar reveal" style="width:85%">
                                        <span class="skill__value">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="skill">
                                        <span class="skill__name">English
                                        </span>
                                <div class="progress">
                                    <div class="progress-bar reveal" style="width:95%">
                                        <span class="skill__value">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <span class="skill__name">Spanish</span>
                                <div class="progress">
                                    <div class="progress-bar reveal" style="width:65%">
                                        <span class="skill__value">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                        <span class="skill__name">German
                                        </span>
                                <div class="progress">
                                    <div class="progress-bar reveal" style="width:70%">
                                        <span class="skill__value">70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
