{% load static %}
<section class="story pb-0" id="story" data-scrollax-parent="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center text-sm-left">
                <div class="story-img-block">
                    <div class="title-overlay title-overlay--vertical"
                         data-scrollax="properties: { 'margin-top': '-100%'}">About
                    </div>
                    <picture class="story__img">
                        <img src="{% static 'img/about-profile.png' %}" alt="image">
                    </picture>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="story-details">
                    <span class="story__mini-title">WHO AM I?</span>
                    <h3>Passionate with Coding <br> Mostly AI/WEB and Application backend</h3>
                    <p>I am a Back-End Developer and Junior AI developer based in Tashkent. I am director and CEO at
                        TAXI company. I am a dreamer and a fanatic of all digital things. I have
                        a few years of experience in consulting in
                        all areas of digital. I love coding AI machines. I am also do professional carpentry.
                    </p>
                    <a href="#" class="btn btn--primary btn--sm btn--megaEffect">
                        Download CV </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card service">
                    <i class="icon ti-paint-bucket"></i>
                    <div class="service__body">
                        <a href="#">
                            <h5>Website Backend</h5>
                        </a>
                        <p>I have a a few years experience doing it and also I know a little bit about CSS/JS/HTML.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card service">
                    <i class="icon ti-vector"></i>
                    <div class="service__body">
                        <a href="#">
                            <h5>WEB APP DESIGN</h5>
                        </a>
                        <p>I really like to disign web application, that's why I learned it and I am doing it.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card service">
                    <i class="icon ti-camera"></i>
                    <div class="service__body">
                        <a href="#">
                            <h5>Junior AI developer</h5>
                        </a>
                        <p>I am really passioned about coding AI machines and application and I do a lot it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

