{% load static %}
<section class="background-dark pb-xl-0" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="process-content">
                    <h2>Have a Look at <br> My Working Process</h2>
                    <p>While I am doing all of my work, I am fall in work. the reason is that I do love my work and I am
                        really careful about it..</p>
                    <div class="process-button-group">
                        <a href="#" class="btn btn--primary btn--megaEffect">
                            See Works
                        </a>
                        <span class="process-play-btn">
                                    <a href="https://youtu.be/l-epKcOA7RQ" class="process__play" data-autoplay="true"
                                       data-vbtype="video"><i class="ft ft-play"></i></a>Watch Me
                                </span>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-12 offset-lg-1">
                <picture class="process__img">
                    <img src="{% static 'img/process.png' %}" alt="process">
                </picture>
            </div>
        </div>
    </div>
</section>
<section class="experience switchable" id="experience" data-scrollax-parent="true">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                            <span class="title-overlay" data-scrollax="properties: { translateY: '150px' }">
                                Experience
                            </span>
                    <h3 class="section-title__main">Work Experience</h3>
                    <p class="section-title__description">Over 10 Years Expericences i am work with business &
                        provide solution to client with their business problem</p>
                </div>
            </div>
        </div>
        <div class="row switchable-row">
            <div class="col-12 d-lg-flex justify-content-between">
                <picture class="experience__img">
                    <img src="{% static 'img/experience-1.jpg' %}" alt="experience">
                </picture>
                <div class="experience-text">
                    <div class="experience-title">
                            <span class="experience__cologo"><img src="{% static 'img/company-logo-2.png' %}"
                                                                  alt="company-logo"></span>
                        <div>
                            <h6>UI UX Designer at Behance</h6>
                            <p>January 2015 - August 2018</p>
                        </div>
                    </div>

                    <div class="experience-description card card--md">
                        <p>Behance is a top leading most popular portfolio site for growing lalented designer orem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore design.</p>
                        <ul>
                            <li>Project management analysis</li>
                            <li>Senior project reseArthor and director</li>
                            <li>Creative director</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row switchable-row">
            <div class="col-12 d-lg-flex justify-content-between">
                <picture class="experience__img">
                    <img src="{% static 'img/experience-2.jpg' %}" alt="experience">
                </picture>
                <div class="experience-text">
                    <div class="experience-title">
                            <span class="experience__cologo"><img src="{% static 'img/company-logo-3.png' %}"
                                                                  alt="company-logo"></span>
                        <div>
                            <h6>UI UX Designer at Behance</h6>
                            <p>January 2015 - August 2018</p>
                        </div>
                    </div>

                    <div class="experience-description card card--md">
                        <p>Behance is a top leading most popular portfolio site for growing lalented designer orem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore design.</p>
                        <ul>
                            <li>Project management analysis</li>
                            <li>Senior project reseArthor and director</li>
                            <li>Creative director</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row switchable-row">
            <div class="col-12 d-lg-flex justify-content-between">
                <picture class="experience__img">
                    <img src="{% static 'img/experience-3.jpg' %}" alt="experience">
                </picture>
                <div class="experience-text">
                    <div class="experience-title">
                        <span class="experience__cologo"><img src="{% static 'img/company-logo.png' %}"
                                                              alt="company-logo"></span>
                        <div>
                            <h6>UI UX Designer at Behance</h6>
                            <p>January 2015 - August 2018</p>
                        </div>
                    </div>

                    <div class="experience-description card card--md">
                        <p>Behance is a top leading most popular portfolio site for growing lalented designer orem
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            labore design.</p>
                        <ul>
                            <li>Project management analysis</li>
                            <li>Senior project reseArthor and director</li>
                            <li>Creative director</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
