<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:image" content="#" />

    <title>Arthor | 404</title>
    <!--  favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,900" rel="stylesheet">
    <!-- plugins CSS -->
    <link rel="stylesheet" href="css/plugins.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body class="site-innerpage page-error">
    <!-- =========== Start of Preloader ============ -->
    <div class="pre-laoder">
        <img src="img/diagonal-line-pattern.png" alt="overlay" class="background-image-holder">
        <div id="lineDrawing">
            <div class="demo-content align-center">
                <svg class="svg-sahpe">
                    <g fill="none" fill-rule="evenodd" stroke="#fbc25e" stroke-width="1" class="lines">
                        <!-- Replace your svg code with inside of the "path d=" code-->
                        <path d="
                            M54.2,1.9L102.8,86c1.1,1.8-0.3,4.1-2.4,4.1H75.2c-1,0-1.9-0.5-2.4-1.4L51.8,52.3c-1.1-1.8-3.7-1.8-4.8,0
                            l-6.2,10.8c-0.5,0.9-0.5,1.9,0,2.8L52.6,86c1.1,1.8-0.3,4.1-2.4,4.1H3.3c-2.1,0-3.4-2.3-2.4-4.1L49.5,1.9C50.5,0,53.2,0,54.2,1.9z
                            M50.5,41.3l24.9,43.1c0.5,0.9,1.4,1.4,2.4,1.4h15.1c2.1,0,3.4-2.3,2.4-4.1l-41-71.1c-1.1-1.8-3.7-1.8-4.8,0l-41,71.1
                            c-1.1,1.8,0.3,4.1,2.4,4.1h31.8c2.1,0,3.4-2.3,2.4-4.1l-9.6-16.5c-0.2-0.4-0.2-0.9,0-1.3l12.8-22.5C48.7,40.5,50,40.5,50.5,41.3z" stroke-dasharray="406.8699035644531" style="stroke-dashoffset: 0px; "></path>
                    </g>
                </svg>
            </div>
        </div>

    </div>
    <!-- =========== End of Preloader ============ -->

    <!-- =========== Start of main-wrapper ============ -->
    <div class="main-wrapper main-wrapper--full">
        <!-- =========== Start of Body Content ============ -->
        <div class="half-content background-dark">
            <div class="content-holder overlay--pattern">
                <img src="img/diagonal-line-pattern.png" alt="overlay" class="background-image-holder">
                <div class="text-content">
                    <h1><span>ERROR</span> 404 <br> NOT FOUND</h1>
                    <p>The page you are looking for was moved <br> or renamed or might never existed.</p>
                    <a href="#" class="btn btn--primary btn--md btn--megaEffect">Take Me Home</a>
                </div>
                <!-- text content end -->
                <ul class="social-connet social-connet--borderless">
                    <li><a href="#"><i class="ft ft-twitter"></i></a></li>
                    <li><a href="#"><i class="ft ft-linkedin"></i></a></li>
                    <li><a href="#"><i class="ft ft-instagram"></i></a></li>
                    <li><a href="#"><i class="ft ft-instagram"></i></a></li>
                </ul>
                <!-- social end -->
            </div>
            <!-- content end -->
            <div class="media-holder">
                <img src="img/hero-2.1.jpg" alt="overlay" class="background-image-holder">
                <div class="overlay">
                    <img class="background-image-holder" src="img/overlay.png" alt="overlay">
                </div>
            </div>
            <!-- media content end -->
        </div>
        <!-- =========== End of Body Content ============ -->
    </div>

    <!-- Plugns JS Files -->
    <script src="js/plugins.min.js"></script>
    <!-- google map js -->
    <!-- Replace test API Key "AIzaSyCLFomDOPKqvvITt7tv_hZG0PDlWB2-q0g" with your own one below  -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLFomDOPKqvvITt7tv_hZG0PDlWB2-q0g"></script>
    <!-- App JS Files -->
    <script src="js/app.js"></script>

</body>

</html>